<div id="footer-widgets-container" class="clearfix">

  <div id="footer-widgets" class="clearfix">
    <div class="footer-widget-box">
      <ul class="widget-container">
        <li class="widget">
          <h3 class="widgettitle">Useful Links</h3>
          <ul class="xoxo blogroll">
            <li><a href="https://flexithemes.com" target="_blank">FlexiThemes Homepage</a></li>
            <li><a href="https://flexithemes.com/members/" target="_blank">Member Area</a></li>
            <li><a href="https://flexithemes.com/popular/" target="_blank">Most Popular Themes</a></li>
            <li><a href="https://flexithemes.com/support/" target="_blank">Support System</a></li>
            <li><a href="https://flexithemes.com/themes/" target="_blank">Themes</a></li>
            <li><a href="http://codex.wordpress.org" target="_blank">WordPress Documentation</a></li>
            <li><a href="http://wordpress.org" target="_blank">WordPress Official</a></li>

          </ul>
        </li>
      </ul>
    </div>



    <div class="footer-widget-box footer-widget-box-last">
      <ul class="widget-container">
        <li class="widget">
          <h3 class="widgettitle">Contact</h3>
          <div class="textwidget">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nis.<br><br> <span style="font-weight: bold;">Our Company Inc.</span><br>2458 S . 124 St.Suite
            47<br>Town City 21447<br>Phone: 124-457-1178<br>Fax: 565-478-1445</div>
        </li>
      </ul>
    </div>
  </div>

</div>
<div id="footer-container">

  <div id="footer">

    <div id="copyrights">
      © 2021 <a href="https://demo.flexithemes.com/?wptheme=MyEducation">FlexiDemo</a>
    </div>
  </div><!-- #footer -->

</div>