<!-- <div
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutAlign="center center"
  class="container"
>
  <mat-card>
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="center">
      <div fxFlex="50">
        <img
          mat-card-image
          style="height: 92vh"
          src="../assets/images/shri.jpeg"
          alt="Shri Gajanan Maharaj"
        />
      </div>
      <div fxFlex>
        <div
          fxLayout="row wrap"
          fxLayout.lt-sm="column"
          fxLayoutAlign="center center"
        >
          <div fxFlex="50"></div>
          <div fxFlex="50">
            <mat-label>Select Language</mat-label>
            <mat-select (selectionChange)="onSelect($event)">
              <mat-option *ngFor="let lang of languages" [value]="lang.id">
                {{ lang.label }}
              </mat-option>
            </mat-select>
          </div>
        </div>
        <article>
          <h1>{{ "title" | translate }}</h1>
          <h2>{{ "message" | translate }}</h2>
        </article>
      </div>
    </div>
  </mat-card>
</div> -->
<div id="container">
<app-nav>
</app-nav>

<app-footer></app-footer>
</div>
